/.idea/.gitignore
/app/.gitignore
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/__init__.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/__init__.py
/.idea/AndroidProjectSystem.xml
/avetis.server/updates/AZ.WMS_v.1.8.1.apk
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/build_tracker.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/build_tracker.py
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.11.1/checksums/checksums.lock
/.gradle/8.13/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/config.properties
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.gradle/8.11.1/executionHistory/executionHistory.bin
/.gradle/8.13/executionHistory/executionHistory.bin
/.gradle/8.11.1/executionHistory/executionHistory.lock
/.gradle/8.13/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.11.1/fileHashes/fileHashes.bin
/.gradle/8.13/fileHashes/fileHashes.bin
/.gradle/8.11.1/fileHashes/fileHashes.lock
/.gradle/8.13/fileHashes/fileHashes.lock
/.gradle/8.11.1/gc.properties
/.gradle/8.13/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/dictionaries/gg_wp.xml
/gradle.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/kotlinc.xml
/.gradle/8.11.1/fileChanges/last-build.bin
/.gradle/8.13/fileChanges/last-build.bin
/local.properties
/.gradle/8.11.1/checksums/md5-checksums.bin
/.gradle/8.13/checksums/md5-checksums.bin
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/metadata.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/metadata.py
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/metadata_editable.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/metadata_editable.py
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/metadata_legacy.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/metadata_legacy.py
/.idea/migrations.xml
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/build/reports/problems/problems-report.html
/app/proguard-rules.pro
/.idea/dictionaries/project.xml
/.gradle/8.11.1/fileHashes/resourceHashesCache.bin
/.gradle/8.13/fileHashes/resourceHashesCache.bin
/.idea/runConfigurations.xml
/.gradle/8.11.1/checksums/sha1-checksums.bin
/.gradle/8.13/checksums/sha1-checksums.bin
/.idea/vcs.xml
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/wheel.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/wheel.py
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/wheel_editable.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/wheel_editable.py
/avetis.server/venv/lib/python3.12/site-packages/pip/_internal/operations/build/wheel_legacy.py
/Журнал_регистрации_(для_ПК)/client_env/lib/python3.12/site-packages/pip/_internal/operations/build/wheel_legacy.py
/avetis.server/updates/журнал_регистрации_v.1.0-camera.apk
/avetis.server/updates/журнал_регистрации_v.1.0-camera_http.apk
/avetis.server/updates/журнал_регистрации_v.1.0-hardware_http.apk
WMSMANAGER.txt
Исполнители из ВМС/
